*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  background-color: rgb(255, 255, 255);
  color: #243a6f;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
h1,
h2,
h3,
h4 {
  font-weight: 500;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.container-md {
  max-width: 100rem;
  margin: 0 auto;
}

@media only screen and (max-width: 1200px) {
  .container-1 {
    padding: 0 3rem;
  }

  .container-md {
    padding: 0 3rem;
  }
}

/* Header */
.header {
  position: relative;
  width: 100%;
  overflow: hidden;
  min-height: 13vh;
  max-height: 13vh;
  background-color: #000000;
}

/* custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::selection {
  background: rgb(0, 123, 255, 0.3);
}
.content {
  max-width: 1250px;
  margin: auto;
  padding: 0 30px;
}
.navbar {
  position: fixed;
  width: 100%;
  z-index: 2;
  padding: 25px 0;
  transition: all 0.3s ease;
  min-height: 12vh;
}
.navbar.sticky {
  background: #1b1b1b;
  padding: 10px 0;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}
.navbar .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -2px;
}
.navbar .logo a {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.navbar .logo a img {
  width: 18%;
}

.navbar .menu-list {
  display: inline-flex;
}
.menu-list li {
  list-style: none;
}
.menu-list li a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.menu-list li a:hover {
  color: #007bff;
}

.about {
  padding: 30px 0;
}
.about .title {
  font-size: 38px;
  font-weight: 700;
}
.about p {
  padding-top: 20px;
  text-align: justify;
}
.icon {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.menu-list .cancel-btn {
  position: absolute;
  right: 30px;
  top: 20px;
}
@media (max-width: 1230px) {
  .content {
    padding: 0 60px;
  }
}
@media (max-width: 1100px) {
  .content {
    padding: 0 40px;
  }
}
@media (max-width: 900px) {
  .content {
    padding: 0 30px;
  }
}
@media (max-width: 868px) {
  body.disabled {
    overflow: hidden;
  }
  .icon {
    display: block;
  }
  .icon.hide {
    display: none;
  }
  .navbar .menu-list {
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    left: -100%;
    top: 0px;
    display: block;
    padding: 40px 0;
    text-align: center;
    background: #222;
    transition: all 0.3s ease;
  }
  .navbar.show .menu-list {
    left: 0%;
  }
  .navbar .menu-list li {
    margin-top: 45px;
  }
  .navbar .menu-list li a {
    font-size: 23px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .navbar.show .menu-list li a {
    margin-left: 0px;
  }
}
@media (max-width: 380px) {
  .navbar .logo a {
    font-size: 27px;
  }
}
/* navend */
/* Hero */
.hero {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to right, #d3360f 0%, #000 90%);
}
.hero .hero-img {
  position: absolute;
  bottom: 9%;
  right: 5%;
  height: 56rem;
  object-fit: contain;
}

.hero-content {
  position: absolute;
  top: 50%;
  transform: translate(25%, -50%);
}

.hero-content .sale-img {
  position: relative;
  right: 178px;
  bottom: 14px;
  width: 28%;
}
.hero-content h1 {
  position: relative;
  right: 208px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 89px;
  bottom: 109px;
  animation: fadeIn ease 5s;
}

.hero-content h2 {
  position: relative;
  right: 150px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 70px;
  bottom: 128px;
  animation: fadeIn ease 5s;
}
.btn-1 .btn {
  display: inline-block;
  background-color: #ffffff;
  padding: 1.2rem 4rem;
  color: rgb(0, 0, 0);
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  bottom: 80px;
  right: 85px;
  transition: all 100ms ease-in-out;
  animation: fadeIn ease 5s;
}

.btn-1 .btn:hover {
  transform: translateY(-0.4rem);
}
@keyframes fadeIn {
  15% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
}
@media only screen and (max-width: 1200px) {
  .header {
    min-height: 13vh;
    max-height: 13vh;
  }
  .hero .hero-img {
    right: -20%;
  }
  .hero-content {
    transform: translate(20%, -50%);
  }
}

@media only screen and (max-width: 996px) {
  .header {
    min-height: 70vh;
  }

  .hero .hero-img {
    height: 40rem;
    right: -10%;
  }
}

@media only screen and (max-width: 567px) {
  .header {
    min-height: 13vh;
    max-height: 14vh;
  }
  .navbar .logo a img {
    width: 30%;
  }

  .hero .hero-img {
    height: 40rem;
    bottom: -10%;
  }

  .hero-content {
    top: 40%;
    transform: translate(15%, -50%);
  }

  .hero .hero-img {
    right: 2%;
  }

  .hero-content .sale-img {
    min-width: 50%;
    left: 50px;
    bottom: 80px;
  }
  .hero-content h1 {
    font-size: 70px;
    left: 10px;
  }
  .hero-content h2 {
    font-size: 70px;
    font-size: 60px;
    left: 45px;
  }
  .btn-1 .btn {
    max-width: 40%;
  }
}

/* Featured Products */

.title {
  margin: 4rem 0 7rem 0;
  text-align: center;
}

.title h1 {
  font-size: 3rem;
  display: inline-block;
  position: relative;
  z-index: 0;
}

.title h1::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -20%;
  transform: translate(-50%, -50%);
  background-color: palevioletred;
  width: 50%;
  height: 0.4rem;
  z-index: 1;
}

/* deal */
.float-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 6rem;
}
.float-container h1 {
  margin-top: 1rem;
  position: relative;
  font-family: "Allison";
  font-weight: bold;
  color: rgb(80, 73, 73);
  font-size: 53px;
  padding: 20px;
  text-align: center;
}
.float-container .deal-1 {
  width: 93%;
  float: left;
  padding: 2rem;
  transition: all 300ms ease-in-out;
  margin-left: 20px;
  margin-right: 20px;
}
.float-container .deal-1:hover {
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.2);
  transform: translateY(-1rem);
}
.float-container .deal-1 .off-30 {
  margin-top: 35px;
}

/* sale- banner*/
.whats-new {
  display: flex;
  background-color: #fc7c7c;
  min-height: 60vh;
  line-height: 9rem;
  width: 100%;
}
.whats-new .new-arrival img {
  display: flex;
  position: absolute;
  height: 63vh;
  bottom: 193.5rem;
  left: 128px;
  right: 113px;
}

.whats-new .new-arrival h1 {
  position: relative;
  color: #000;
  font-size: 90px;
  font-weight: 600;
  left: 90rem;
  top: 150px;
}
.whats-new .new-arrival .big-sale-white {
  color: white;
}

@media only screen and (max-width: 567px) {
  .whats-new .new-arrival img {
    height: 40vh;
    left: 28px;
    bottom: 308rem;
  }
  .whats-new .new-arrival h1 {
    font-size: 90px;
    left: 2.8rem;
    top: 1px;
  }
}

/* forhim-her */
.for-him-her .men {
  float: left;
  padding: 2rem;
  width: 20%;
}

.for-him-her .men img {
  height: 50%;
}
.for-him-her .women {
  float: left;
  padding: 2rem;
  width: 20%;
}

.for-him-her .women img {
  height: 50%;
}
@media only screen and (max-width: 567px) {
  .for-him-her .men {
    width: 50%;
  }
  .for-him-her .women {
    width: 50%;
  }
}

/* ========= Footer ======== */
footer {
  padding: 40px 0;
  background-color: black;
}
footer .social {
  text-align: center;
  padding-bottom: 25px;
  color: white;
}
footer .social a {
  font-size: 24px;
  color: inherit;
  border: 1px solid grey;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  opacity: 0.75;
}
footer .social a:hover {
  opacity: 0.9;
}
footer ul {
  margin-top: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
  color: white;
}
footer ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}
footer ul a:hover {
  text-decoration: underline;
}
footer ul li {
  display: inline-block;
  padding: 0 15px;
}
footer ul li:hover {
  opacity: 1;
}
footer .copyright {
  margin-top: 15px;
  text-align: center;
  color: white;
  opacity: 0.8;
  font-size: 13px;
}
