body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.banner-sale {
  display: flex;
  background-color: #ffc732;
  min-height: 60vh;
  line-height: 12rem;
  width: 100%;
}

.banner-sale .banner-girl img {
  display: flex;
  position: absolute;
  height: 60vh;
  left: 128px;
  right: 113px;
}
.banner-sale .banner-girl h1 {
  position: relative;
  color: rgb(255, 255, 255);
  font-size: 100px;
  font-weight: 800;
  left: 90rem;
  top: 100px;
}
.banner-sale .banner-girl .sale-2 {
  left: 85rem;
}
@media only screen and (max-width: 567px) {
  .banner-sale .banner-girl img {
    height: 40vh;
    left: 6rem;
  }
  .banner-sale .banner-girl h1 {
    font-size: 60px;
    left: 9rem;
    top: 250px;
  }
  .banner-sale .banner-girl .sale-2 {
    left: 6rem;
    top: 200px;
  }
}
.prod-banner {
  margin-top: 30px;
  background-color: black;
  min-height: 50vh;
}

.shop-by-brand .by-brands {
  float: left;
  width: 25%;
  padding: 19px;
  display: grid;
}
.shop-by-brand .by-brands img {
  height: 90%;
  transition: all 300ms ease-in-out;
}
.shop-by-brand .by-brands img:hover {
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.2);
  transform: translateY(-1rem);
}
@media only screen and (max-width: 567px) {
  .shop-by-brand .by-brands {
    width: 80%;
  }
}

.shop-by-brand .for-kids {
  float: left;
  width: 20%;
  padding: 19px;
  display: grid;
}
.shop-by-brand .for-kids img {
  height: 90%;
  transition: all 300ms ease-in-out;
}
.shop-by-brand .for-kids img:hover {
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.2);
  transform: translateY(-1rem);
}
@media only screen and (max-width: 567px) {
  .shop-by-brand .for-kids {
    width: 80%;
  }
}
